# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Backend temporary uploads
backend/temp_uploads/

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db